:root {
    --banner-img-count: 3;
    --grad-wine-right: linear-gradient(to right, #734b6d, #42275a);
    --grad-wine-bottom-right: linear-gradient(to bottom right, #734b6d, #42275a);
    --font-hover-white: #b9b9b9;
    --font-color-black: #292929;
    --font-color-white: #e6e6e6;
    --font-color-wine: #472c5e;
    --font-color-pink: #ffcee4;
    --font-color-yellow: #F0A500;
    --bk-hover-orange: #f4a5609f;
    --bk-hover-gray: rgba(41, 41, 41, 0.342);
    --bk-color-ivory: #D6D2C4;
    --bk-color-wooden: #5D534A;
    --bk-color-black: #535353;
    --bk-color-white: #F3F2DA;
    --bk-color-green: #71a05b;
    --bk-color-orange: #a0885b;
}

.ldBar {
  margin-right: 100px;
  position: relative;
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}
.ldBar-label {
  position: absolute;
  top: -5%;
  right: -4%;
  font-size: 40px;
  color: var(--font-color-pink);
}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}
