:root {
    --banner-img-count: 3;
    --grad-wine-right: linear-gradient(to right, #734b6d, #42275a);
    --grad-wine-bottom-right: linear-gradient(to bottom right, #734b6d, #42275a);
    --font-hover-white: #b9b9b9;
    --font-color-black: #292929;
    --font-color-white: #e6e6e6;
    --font-color-wine: #472c5e;
    --font-color-pink: #ffcee4;
    --font-color-yellow: #F0A500;
    --bk-hover-orange: #f4a5609f;
    --bk-hover-gray: rgba(41, 41, 41, 0.342);
    --bk-color-ivory: #D6D2C4;
    --bk-color-wooden: #5D534A;
    --bk-color-black: #535353;
    --bk-color-white: #F3F2DA;
    --bk-color-green: #71a05b;
    --bk-color-orange: #a0885b;
    --bk-color-green: #056676;
    --bk-color-red: #ff4444;
}

* {
    font-family: 'Noto Serif KR', serif;
    user-select: none;
}

body {
    background-color: var(--bk-color-black);

    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    background-color: var(--bk-color-white);
    width: 820px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





.bar {
    background: var(--grad-wine-right);
    width: 800px;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.logo {
    font-size: 22px;
    margin: 10px;
}

.logo>i {
    color: var(--font-color-white);
    padding-left: 10px;
}

.logo>a {
    color: var(--font-color-white);
}

.logo:hover, .logo>i:hover {
    cursor: pointer;
}

.bar>ul {
    width: 470px;
    list-style: none;

    display: flex;
    justify-content: center;
    padding: 0;
}

.bar>ul>li>a {
    font-size: 15px;
    color: var(--font-color-white);

    margin: 5px;
    padding: 5px 10px;
}

.bar>ul>li>a:hover {
    border-radius: 8px;
    background-color: var(--bk-hover-orange);
}

.contact {
    color: var(--font-color-white);
    font-size: 24px;
    padding: 8px 10px;
}

.contact>i:hover {
    color: var(--font-hover-white);
    cursor: pointer;
}





.content {
    width: 800px;
    height: 700px;
    background: var(--grad-wine-bottom-right);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.progress {
    width: 800px;
    height: 130px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todolist {
    display: flex;
    justify-content: space-around;
    width: 750px;
    height: 400px;
}

.lists {
    list-style: none;
    width: 550px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0 0 20px;
}

.lists>li {
    position: relative;
    display: flex;
}

.del_but {
    position: absolute;
    display: none;
    width: 55px;
    height: 30px;
    margin: 19px 10px 0 0;
    background-color: var(--bk-hover-gray);
    color: var(--font-color-white);
    border: none;
    border-radius: 10px 0 0 10px;
    z-index: 1;
}

.del_but:hover {
    border: 2px solid var(--bk-color-red);
    border-right: none;
    cursor: pointer;
}

.del_but:active {
    background-color: var(--bk-color-red);
    color: var(--font-color-white);
}

.done_but {
    background-color: var(--bk-hover-gray);
    color: var(--font-color-white);
    border-radius: 10px;
    border: 2px solid transparent;
    text-align: center;
    width: 50px;
    height: 30px;
    margin-top: 15px;
    padding: 0;
}

.done_but:hover {
    cursor: pointer;
    border: 2px solid var(--font-color-pink);
}

.done_but:active {
    background-color: var(--font-color-pink);
    color: var(--font-color-black);
}

.lists>li>div:not(.fin_item) {
    width: 350px;
    height: 35px;
    background-color: var(--bk-color-white);
    margin: 10px 10px 0 0;
    border-radius: 15px;
    padding: 10px 15px 0 25px;
    z-index: 2;
}

.fin_item {
    text-align: right;
    width: 350px;
    height: 35px;
    /* background-color: var(--bk-hover-gray); */
    background-color: var(--bk-color-green);
    border: 2px solid var(--bk-color-green);
    margin: 10px 10px 0 0;
    border-radius: 15px;
    padding: 10px 15px 0 25px;
    z-index: 2;
}

.fin_li>i {
    margin-top: 15px;
    color: var(--bk-color-green);
    font-size: 35px;
    width: 50px;
    height: 30px;
}

.opt {
    position: relative;
    background-color: var(--bk-hover-gray);
    border-radius: 10px;
    width: 120px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.del, .add, .done {
    border-radius: 5px;
    font-size: 20px;
    color: var(--font-color-yellow);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add>a, .del>a, .done>a {
    text-decoration: none;
    color: var(--font-color-pink);
    margin: 5px;
}

.del:hover, .add:hover, .done:hover {
    background-color: var(--bk-color-orange);
    cursor: pointer;
}

.done {
    display: none;
}

.down {
    width: 750px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
}

.phrase>p {
    font-size: 30px;
    color: var(--font-color-pink);
}

.phrase p:nth-child(3) {
    position: relative;
}

.phrase p:nth-child(3):before {
    position: absolute;
    content: "|";
    font-size: 32px;
    color: var(--font-color-white);
    top: 12px;
    left: 5px;
    animation-name: blink;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}

.phrase p:nth-child(2n-1) {
    margin-bottom: 5px;
    font-size: 50px;
}

.add_bk, .del_bk {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 10000;
}

.add_window {
    position: absolute;
    width: 550px;
    height: 200px;
    background-color: var(--bk-color-white);
    border-radius: 10px;
    top: calc(50% - 100px);
    left: calc(50% - 275px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.del_window {
    position: absolute;
    width: 550px;
    height: 200px;
    background-color: var(--bk-color-white);
    border-radius: 10px;
    top: calc(50% - 100px);
    left: calc(50% - 275px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp_data>input {
    padding-left: 10px;
    width: 400px;
    height: 50px;
    border: none;
}

.inp_data>input:focus {
    outline: none;
}

.inp_but {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.del_confirm_but {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.inp_but>input,
.confirm {
    border-radius: 10px;
    border: 2px solid var(--bk-color-wooden);
    text-align: center;
    width: 50px;
    height: 30px;
    margin-top: 15px;
    padding: 0;
}

.inp_but>input:hover,
.confirm:hover {
    cursor: pointer;
    background-color: var(--bk-color-wooden);
    color: var(--font-color-white);
}






@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}